{
  "env": {
	"test": {
	  "presets": ["@babel/env", "@babel/react"],
	  "plugins": ["@babel/transform-export-extensions"],
	  "only": [
		"./**/*.js",
		"node_modules/jest-runtime"
	  ]
	}
  },
  "presets": [ "@babel/react"],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
