{
  "env": {
    "test": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
      ]
    }
  },
  "presets": [
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}
