.title{
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
}

.rightIcon{
	float: right;
}
.indented {
	padding-left: 20px;
}
.greenbackground{
	background: lightgreen;
	border: solid 1px darkgreen;
}
.bluebackground{
	background: lightblue;
	border: 1px solid cornflowerblue;
}
.list {

}
