.title{
	border-radius: 5px;
	background: lightblue;
	border: 1px solid cornflowerblue;
	padding: 5px;
	padding-left: 10px;
}
.rightIcon{
	float: right;
}
.indented {
	padding-left: 20px;
}
.list {

}
