.title{
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;

	:matches(:nth-child(2n)){
	background: lightgreen;
	border: solid 1px springgreen;
}
	:matches(:nth-child(2n+1)){
	background: lightblue;
	border: 1px solid cornflowerblue;
}
}

.rightIcon{
	float: right;
}
.indented {
	padding-left: 20px;
}
.list {

}
